@{
    ViewBag.Title = "Terms and Conditions";
}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/styledoc.css" rel="stylesheet" />
    <!-- Font Awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <div class="termsandconditions-direction-rtl">
        <h1 class="termsandconditions-headline">شروط التقديم:</h1>
        <ul class="termsandconditions-bullet">
            <li>أن يكون المتقدم عضو هيئة تدريس بأحد كليات جامعة كفر الشيخ.</li>
            <li>أن يتضمن البحث اسم جامعة كفر الشيخ كتعريف للباحث المتقدم.</li>
            <li>أن يتم استيفاء استمارة التقدم للحصول على المكافأة مع مراعاة كتابة جميع البيانات بخط واضح.</li>
            <li>أن يرفع الباحث نسخة البحث المنشورpdf ، ولا تقبل النسخ الورقية للأبحاث.</li>
            <li>الا يكون قد تم صرف مكافأة النشر الدولي لنفس البحث سابقاً من جامعة كفر الشيخ.</li>
            <li>كتابة الاسم الثلاثي للمشاركين في البحث من جامعة كفر الشيخ باللغة العربية مع توضيح الدرجة الوظيفية، وتوقيع سيادتهم توقيع حي بالموافقة على تقديم البحث من قبل الباحث الرئيسي.</li>
        </ul>
        <h1 class="termsandconditions-headline">متطلبات التقديم:</h1>
        <ul class="termsandconditions-bullet">
            <li>أن يتم استيفاء استمارة التقدم للحصول على المكافأة موقعة من السيد أ.د/ رئيس القسم العلمي، والسيد أ.د/ وكيل الكلية لشئون الدراسات العليا والبحوث، ثم اعتمادها من السيد أ.د/ عميد الكلية.</li>
            <li>أن يرفع العضو المقدم نسخة البحث المنشور بصيغة pdf ولا تقبل النسخ الورقية للأبحاث.</li>
            <li>كتابة الاسم الثلاثي للمشاركين في البحث من جامعة كفر الشيخ باللغة العربية مع توضيح الدرجة الوظيفية، وتوقيع سيادتهم توقيع حى بالموافقة على تقديم البحث من قبل الباحث الرئيسي.</li>
            <li>ترفع الاستمارة و الابحاث والمقدمة وصورة بطاقة الرقم القومي على اللينك المرسل.</li>
        </ul>
        <h1 class="termsandconditions-headline">شروط البحث:</h1>
        <ul class="termsandconditions-bullet">
            <li>
                يجب ان يكون البحث المقدم في صورة pdf.
            </li>
            <li>لا تقبل البحوث تحت النشر أو المقبولة للنشر.</li>
            <li>لا يجوز التقدم بالبحث للحصول على جائزة أخرى من جوائز الجامعة.</li>
            <li>تستبعد البحوث غير المدون عليها اسم جامعة كفر الشيخ.</li>
            <li>أن تكون جميع البحوث المقدمة قد تم نشرها خلال ثلاثة أعوام ميلادية من تاريخ نهاية التقدم.</li>
            <li>في حالة توقف معامل التأثير للمجلة، يتم الموافقة على البحوث المنشورة بها، على أن تكون منشورة في نفس سنة التوقف وليس بعدها.</li>
            <li>تقبل البحوث المنشورة في مجلة علمية ذات مقياس رباعي Q1 ، على قاعدة بيانات Scopus.</li>
            <li>لا تقبل المقالات والأوراق العلمية المنشورة بالمسميات الآتية: Review, Letter to editor، أو أية مسميات جديدة لا تتوافر فيها شروط وقواعد الأبحاث العلمية.</li>
        </ul>
        <h1 class="termsandconditions-headline">شروط حصول البحث على الجائزة:</h1>
        <ul class="termsandconditions-bullet">
            <li>يحصل على الجائزة المتقدم ببحث منشور في مجلة علمية عالمية متخصصة وذات معامل تأثيري طبقا للمادة رقم 20 من اللائحة وقاعدة بيانات ISI أثناء التقدم بالبحث في التخصصات العملية</li>
            <li> في التخصصات الإنسانية والاجتماعية والتربوية والاقتصادية طبقا لأخر اصدار لمعامل التأثير.</li>
        </ul>
    </div>
    <div class="termsandconditions-text-center">
        <a href="/index" class="termsandconditions-button">رجوع</a>
    </div>

</body>
</html>
